@charset 'utf-8';

@media screen and (min-width:1200px) {
    .header {
        background-color: #ffefefef;
        height: 120px;
    }

    .head_inner {
        display: block;
    }

    .h_title h1 {
        font-size: 2.3em;
        margin: 0 auto 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        /* text-shadow: 1px 2px 2px #ffff, 2px 2px 1px #ff9d9d; */
    }

    .h_title span {
        padding-left: 20px;
    }

    .menu_pop {
        display: none;
    }

    .h_left {
        display: none;
    }

    .h_right {
        display: none;
    }

    .login {
        font-size: 0.6rem;
        width: 150px;
        position: absolute;
        top: 40px;
        right: 60px;
    }

    .full_nav {
        width: 100%;
        display: block;
    }

    .full_menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 10px;
        width: 100%;
    }

    .full_menu>li {
        position: relative;
    }

    .full_menu>li>a {
        width: 200px;
        text-align: center;
        font-size: 0.8rem;
        font-weight: bold;
        color: #222;
        /* text-shadow: 1px 2px 2px #ffff, 2px 2px 1px #ff9d9d; */
    }

    .full_sub {
        position: absolute;
        margin-top: 20px;
        display: none;
    }

    .full_sub li {}

    .full_sub li a {
        width: 200px;
        height: 50px;
        font-size: 0.8rem;
        line-height: 50px;
        color: #222;
        text-shadow: 1px 1px 1px #aaa;
    }

    .full_menu>li>a:hover {
        color: #ffa8a8;
    }

    .full_sub li:hover a {
        color: #ffa8a8;
    }

    .ful_sub_bg {
        background-color: #f8f8f8c2;
        width: 100%;
        height: 200px;
        margin-top: 7px;
        display: none;
    }

    .login_2 {
        width: 120px;
        /* text-shadow: 1px 2px 2px #ffff, 2px 2px 1px #ff9d9d; */
        display: flex;
        justify-content: space-around;
    }

    .login_2 a {
        font-weight: bold;
    }

    .login_2 a:hover {
        color: #ffa8a8;
    }


    /* <!-- main_img_slide 영역 --> */

    .main_img_slide {}

    .m_img li {
        height: 550px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .m_img_txtBox {
        width: 1000px;
        height: 250px;
        margin-top: 30px;
    }

    .m_img_txtBox p {
        font-size: 1rem;
        line-height: 1.2;
        margin-top: 10px;
    }
    
    .m_img_txtBox .h_title {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    
    
    
    /* <!-- 플라워 섹션 영역 --> */
    
    .flower_section {
        width: 100%;
        height: 700px;
        margin-top: 80px;
        /* border: 1px solid red; */

    }

    .flower_section>h1 {
        top: -70px;
        left: 10%;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        line-height: 50px;
        background-color: unset;
        box-shadow: none;
        font-size: 2.5em;
    }

    .f_imgBox {
        width: 100%;
        margin-top: -30px;
        /* border: 1px solid red; */

    }


    .f_imgBox>li {
        width: 300px;
        height: 350px;
        overflow: hidden;
    }

    .f_imgBox>li:hover .f_img_txt>li {
        margin-top: -320px;
    }


    .f_img_txt {
        /* border: 1px solid red; */
        height: 100%;
        margin-top: 320px;
    }

    .f_img_txt>li {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #382626a9;
        box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.753);

        border-radius: 10%;
        transition: all 0.3s ease-in-out;
        color: #fff;
    }

    .f_img_txt li h3 {
        font-size: 1.5em;
        margin-bottom: 30px;
    }

    .f_img_txt li p {
        font-size: 1.4em;
        line-height: 1.8;
    }



    /* <!-- 베스트 플라워 섹션 영역 --> */

    .best_flower {
        text-align: center;
    }


    .best_flower h1 {
        margin: 0 auto 80px;
        font-size: 2em;
        /* border: 1px solid red; */
    }

   
    
    .bf_img_list{
        width: 90%;
        height: auto;
        margin: 0 auto;
        justify-content: space-around;
        height: 500px;
    }
    .bf_img_list > li{
        width: 14%;
    }
    
    .bf_img_list>li>a{font-size: 1.5em;}



.bf_sub{
    width: 80%;
    height: 280px ;
    left: 10%;
    top: 250px;
    padding: 20px;
    
}

.bf_sub li{
    
}

.bf_sub li a img {
    width: 80%;
    height: 80%;
    /* border: 1px solid red; */
}


.sub_txt{
    font-size: 1.8em;
    margin-left: 100px;
    /* border: 1px solid red; */
    
}

.sub_txt p{
    font-size: 0.8em;
    line-height: 1.3;
}

.sub_txt p span a{
    font-size: 1.5em;
    margin-left: 400px;
}



/* <!-- 플랜트 섹션 영역 --> */
.plant_section {
    width: 100%;
    height: 700px;
    margin-top: 250px;
    /* border: 1px solid red; */

}

.plant_section>h1 {
    top: -70px;
    left: 10%;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    line-height: 50px;
    background-color: unset;
    box-shadow: none;
    font-size: 2.5em;
}

.p_imgBox {
    width: 100%;
    margin-top: -30px;
    /* border: 1px solid red; */

}


.p_imgBox>li {
    width: 300px;
    height: 350px;
    overflow: hidden;
}

.p_imgBox>li:hover .p_img_txt>li {
    margin-top: -320px;
}


.p_img_txt {
    /* border: 1px solid red; */
    height: 100%;
    margin-top: 320px;
}

.p_img_txt>li {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #382626a9;
    box-shadow: 1px -1px 3px rgba(0, 0, 0, 0.753);

    border-radius: 10%;
    transition: all 0.3s ease-in-out;
    color: #fff;
}

.p_img_txt li h3 {
    font-size: 1.5em;
    margin-bottom: 30px;
}

.p_img_txt li p {
    font-size: 1.4em;
        line-height: 1.8;
}




/* <!-- 베스트 식물 섹션 영역 --> */


.best_plant {
    text-align: center;
    /* border: 1px solid red; */
    height: 500px;
}


.best_plant h1 {
    margin: 0 auto 80px;
    font-size: 2em;
    /* border: 1px solid red; */
}



.bp_img_list{
    width: 90%;
    margin: 0 auto;
    justify-content: space-around;
    height: 500px;
}
.bp_img_list > li{
    width: 14%;
}

.bp_img_list>li>a{font-size: 1.5em;}



.bp_sub{
width: 80%;
height: 280px ;
left: 10%;
top: 380px;
padding: 20px;

}

.bp_sub li{

}

.bp_sub li a img {
width: 80%;
height: 80%;
/* border: 1px solid red; */
}


.sub_txt{
font-size: 1.8em;
margin-left: 100px;
/* border: 1px solid red; */

}

.sub_txt p{
font-size: 0.8em;
line-height: 1.3;
}

.sub_txt p span a{
font-size: 1.5em;
margin-left: 400px;
}




/* footer 영역 */

.footer{
height: 180px;
/* margin-top: 0; */
/* border: 1px solid red; */
}

.foot_up_inner{
    /* display: flex;
    flex-wrap: wrap; */
    font-size: 1.2em;
}

.foot_up_inner h2{
    font-size: 1.2em;
}


.foot_up_inner span::after{
    content: "|";
}

.foot_up_inner span:last-child::after{
    content: none;
}

.foot_down{
    height: 56px;
    /* border: 1px solid red; */
    font-size: 1em;
}












}/* media */
