@charset "utf-8";

/* 기본 430 */
.wrap {
    width: 100%;
    font-size: 16px;
    /* border: 1px solid blue; */
} 

.header {
    width: 100%;
    background-color: #fffbfb;
    /* border: 1px solid red; */
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 1% 5%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.425);

}

.head_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.h_left {
    /* width: 25%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.menu {
    /* width: 20px; */
    height: 20px;
    margin-right: 20px;

}

.menu span {
    display: block;
    width: 18px;
    height: 4px;
    background-color: #ff9393;
    border-radius: 5px;
    margin: 2px auto;
    transition: all 0.3s ease-in-out;
}

.menu span:hover {
    cursor: pointer;
}


.menu_btn.act span:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
}

.menu_btn.act span:nth-child(2) {
    opacity: 0;
}

.menu_btn.act span:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
}

.login {
    font-size: 10px;
}

.h_title {}

.h_title h1 {
    font-size: 5vw;
}

.h_title span {
    display: block;
    font-size: 14px;
    font-weight: normal;
}


.h_right {
    display: flex;
    justify-content: space-around;

}

.h_right h3 {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.h_right a {}

.h_right a img {
    width: 100%;
    height: 100%;
}




/* <!-- main_img_slide 영역 --> */

.main_img_slide {
    width: 100%;
    position: relative;

}

.m_img {
    width: 100%;
}

.m_img li {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.m_img li img {}

.m_img li.m_img_1 {
    background-image: url(../images/main_slide01.jpg);
}

.m_img li.m_img_2 {
    background-image: url(../images/main_slide02.jpg);
}

.m_img li.m_img_3 {
    background-image: url(../images/main_slide03.jpg);
}

.m_img li.m_img_4 {
    background-image: url(../images/main_slide04.jpg);
}

.m_img li.m_img_5 {
    background-image: url(../images/main_slide05.jpg);
    background-position: top center;
}

.m_img .slick-arrow{
position: absolute;
top: 52%;
z-index: 90;
border: none;

width: 20px;
height: 25px;
cursor: pointer;

}
.m_img .slick-arrow.slick-prev{
    left: 5px;
    background-image: url(../images/arrow02.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -9999px;
    display: block;
}
.m_img .slick-arrow.slick-next{
    right: 5px;
    background-image: url(../images/arrow01.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -9999px;
    display: block;
}

.m_img .slick-slide {}


.m_img .slick-dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.m_img .slick-dots li {
    display: inline-block;
    top: 0;left: 0;
    margin: 0 10px;
}

.m_img .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #fffbfba4;
    text-indent: -9999px;
    box-shadow: 1px 1px 5px #312d2d;
}

.m_img .slick-dots li.slick-active button {
    background-color: #ff9393c5;
}


.m_img_txtBox{
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    padding: 30px 20px;
    text-shadow: 1px 1px 4px rgba(59, 46, 46, 0.849);
    color: #fffbfb;
}

.m_img_txtBox p{
    font-size: 10px;
    line-height: 1.2;
    margin-top: 10px;
}



/* <!-- 플라워 섹션 영역 --> */

.flower_section{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #ffecec;
    box-shadow: 0 1px 5px #ccc;
}

.flower_section > div{
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    box-shadow: 1px 1px 5px #ccc;
}



#f_img_left01{
    background: url(../images/flower_main01.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    left: -100%;
    animation:f_img_left 7s ease-in-out forwards;
    transition: all 0.3s;
}


#f_img_left02{
    background: url(../images/flower_main02.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    left: -100%;
    transition: all 0.3s 0.5;
    /* opacity: 0; */
    animation:f_img_left 7s 12s ease-in-out forwards ;
    transition: all 0.3s;
}


.f_img_leftTxt{
    /* border: 1px solid red; */
    width: 260px;
    margin-left: 160px;
    padding: 5px;
    color: #333;
    font-size: 2.5vw;
}
.f_img_leftTxt h3{
    font-weight: 600;
    margin-top: 10px;
    font-size: 3.5vw;
}
.f_img_leftTxt p{
    font-size: 3.5vw;
}

.f_img_leftTxt p a{
    margin: 15px 0 0 170px;
    font-size: 2.5vw;
}


#f_img_right01{
    background: url(../images/flower_main03.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    right: -100%;
    animation: f_img_right 10s 5s forwards ease-in-out ;
}


#f_img_right02{
    background: url(../images/flower_main04.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    right: -100%;
    animation: f_img_right 10s 18s forwards ease-in-out ;
}


.f_img_rightTxt{
    position: absolute;
    top: 0px;
    right: 160px;
    /* border: 1px solid red; */
    width: 260px;
    padding: 5px;
    color: #333;
    font-size: 2.5vw;
    text-align: right;
}

.f_img_rightTxt h3{
    font-weight: 600;
    margin-top: 10px;
    font-size: 3.5vw;
}

.f_img_rightTxt p{
    font-size: 3.5vw;
}

.f_img_rightTxt p a{
    margin: 15px 170px 0 0;
    font-size: 2.5vw;
}



/* <!-- 베스트 플라워 섹션 영역 --> */

.best_flower{
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    padding: 0 10px 0 10px;
    position: relative;
}
.best_flower h1{text-shadow: 1px 1px 2px #ccc;
    margin: 50px 15px 30px ;
}

.bf_img_box {
    /* border: 1px solid red; */
    
}

.bf_img_list{
    display: flex;
    justify-content: space-between;

}
.bf_img_list > li{
    width: 100px;
    height: 140px;
    /* border: 1px solid red; */
    transition: all 0.3s;
    
}

.bf_img_list > li > a{
    text-align: center;
    padding: 5px;
}

.bf_img_list > li > a > img{
    width: 100%;
    height: 100%;
}

.bf_img_list >  li > a:hover{
    text-decoration: underline;
    color: #ff9393;
}

.bf_img_list li a p{
    margin-top: 20px;
}


.bf_sub{
    width: 430px;
    height: 150px;
    margin-top: 20px;
    background-color: #fffbfb;
    border-radius: 15px;
    box-shadow: 0 2px 5px #ddd, 0 -2px 5px #eee;
    position: absolute;
    top: 200px;
    left: 0;
    display: none;
    z-index: 100;
}
.bf_sub li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bf_sub li a img{
    width: 150px;
    height: 140px;
    /* border: 1px solid red; */
}

.sub_txt{
    width: 250px;
    /* border: 1px solid red; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.sub_txt h3{margin-bottom: 10px;}

.sub_txt p{
    font-size: 14px;
    line-height: 1.2;
}
.sub_txt p span{
    margin-left: 10px;
    font-size: 11px;
}

.sub_txt p span:hover{
    text-decoration: underline;
    color: #ff9393;
}

.bf_img_box_bg{background-color: #eeeeeeb0;
width: 100%;
height: 100px;

}



/* <!-- 플랜트 섹션 영역 --> */

.plant_section{
    width: 100%;
    height: 150px;
    position: relative;
    background-color: #fafff7;
    box-shadow: 0 1px 5px #ccc;
    margin-top: 30px;
}

.plant_section > div{
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
    position: absolute;
    box-shadow: 1px 1px 5px #fff;
    z-index: 50;
}



#p_img_left01{
    background: url(../images/plant_main01.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    left: -100%;
    transition: all 0.3s;
}


#p_img_left02{
    background: url(../images/plant_main02.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    left: -100%;
    transition: all 0.3s 0.5;
    transition: all 0.3s;
}


.p_img_leftTxt{
    width: 260px;
    margin-left: 160px;
    padding: 5px;
    color: #333;
    font-size: 2.5vw;
}
.p_img_leftTxt h3{
    font-weight: 600;
    margin-top: 10px;
    font-size: 3.5vw;
}
.p_img_leftTxt p{
    font-size: 3.5vw;
}

.p_img_leftTxt p a{
    margin: 15px 0 0 170px;
    font-size: 2.5vw;
}


#p_img_right01{
    background: url(../images/plant_main03.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    right: -100%;
}


#p_img_right02{
    background: url(../images/plant_main04.jpg) no-repeat center center;
    background-size: cover;
    top: 15px;
    right: -100%;
}


.p_img_rightTxt{
    position: absolute;
    top: 0px;
    right: 160px;
    width: 260px;
    padding: 5px;
    color: #333;
    font-size: 2.5vw;
    text-align: right;
}

.p_img_rightTxt h3{
    font-weight: 600;
    margin-top: 10px;
    font-size: 3.5vw;
}

.p_img_rightTxt p{
    font-size: 3.5vw;
}

.p_img_rightTxt p a{
    margin: 15px 170px 0 0;
    font-size: 2.5vw;
}




/* <!-- 베스트 식물 섹션 영역 --> */

.best_plant{
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    padding: 0 10px 0 10px;
    position: relative;
}
.best_plant h1{text-shadow: 1px 1px 2px #ccc;
    margin: 50px 15px 30px ;
}

.bp_img_box {
    /* border: 1px solid red; */
    
}

.bp_img_list{
    display: flex;
    justify-content: space-between;

}
.bp_img_list > li{
    width: 100px;
    height: 140px;
    /* border: 1px solid red; */
    transition: all 0.3s;
    
}

.bp_img_list > li > a{
    text-align: center;
    padding: 5px;
}

.bp_img_list > li > a > img{
    width: 100%;
    height: 100%;
}

.bp_img_list >  li > a:hover{
    text-decoration: underline;
    color: #ff9393;
}

.bp_img_list li a p{
    margin-top: 20px;
}


.bp_sub{
    width: 430px;
    height: 150px;
    margin-top: 20px;
    background-color: #fffbfb;
    border-radius: 15px;
    box-shadow: 0 2px 5px #ddd, 0 -2px 5px #eee;
    position: absolute;
    top: 200px;
    left: 0;
    display: none;
}
.bp_sub li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bp_sub li a img{
    width: 150px;
    height: 140px;
    /* border: 1px solid red; */
}

.sub_txt{
    width: 250px;
    /* border: 1px solid red; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.sub_txt h3{margin-bottom: 10px;}

.sub_txt p{
    font-size: 14px;
    line-height: 1.2;
}
.sub_txt p span{
    margin-left: 10px;
    font-size: 11px;
}

.sub_txt p span:hover{
    text-decoration: underline;
    color: #ff9393;
}





