@charset "utf-8";

/* 기본 430 */
.wrap {
    min-width:430px;
    width: 100%;
    font-size: 16px;
    /* border: 1px solid blue; */
}

.header {
    width: 100%;
    background-color: #fffbfb;
    /* border: 1px solid red; */
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    padding: 1% 5%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.425);

}

.head_inner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.h_left {
    /* width: 25%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}

.menu {
    /* width: 20px; */
    height: 20px;
    margin-right: 20px;

}

.menu span {
    display: block;
    width: 20px;
    height: 4px;
    background-color: #ff9393;
    border-radius: 5px;
    margin: 2px auto;
    transition: all 0.2s ease-in-out;
}

.menu span:hover {
    cursor: pointer;
    
}

.menu:hover span{background-color: #A74343;}



.login {
    width: 50px;
    /* background-color: #312d2d; */
    font-size: 10px;
    display: flex;
}

.buket_img{
    width: 24px;
    height: 20px;
    background: url(../images/bucket.png)no-repeat center center / contain;

}

.buket_img:hover{background: url(../images/bucket2.png)no-repeat center center / contain;}


.talk_img{width: 24px;
    height: 20px;
    background: url(../images/talk.png)no-repeat center center / contain;}
    
    .talk_img:hover{background: url(../images/talk_02.png)no-repeat center center / contain;}

.login a:hover{color: #ff9393;}


.login_2{display: none;}

.h_title {}

.h_title h1 {
    font-size: 5vw;
}

.h_title span {
    display: block;
    font-size: 14px;
    font-weight: normal;
}


.h_right {
    display: flex;
    justify-content: space-around;

}

.h_right h3 {
    width: 20px;
    height: 20px;
    margin-left: 20px;
}

.h_right a {}

.h_right a img {
    width: 100%;
    height: 100%;
}






/* <!-- main_img_slide 영역 --> */

.main_img_slide {
    width: 100%;
    position: relative;
    height: auto;
    /* border: 1px solid red; */

}

.m_img {
    width: 100%;
}

.m_img li {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.m_img li img {}

.m_img li.m_img_1 {
    background-image: url(../images/main_slide01.jpg);
}

.m_img li.m_img_2 {
    background-image: url(../images/main_slide02.jpg);
}

.m_img li.m_img_3 {
    background-image: url(../images/main_slide03.jpg);
}

.m_img li.m_img_4 {
    background-image: url(../images/main_slide04.jpg);
}

.m_img li.m_img_5 {
    background-image: url(../images/main_slide05.jpg);
    background-position: top center;
}

.m_img .slick-arrow {
    position: absolute;
    top: 52%;
    z-index: 90;
    border: none;

    width: 20px;
    height: 25px;
    cursor: pointer;
    
}

.m_img .slick-arrow.slick-prev {
    left: 5px;
    background-image: url(../images/arrow02.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -9999px;
    display: block;
}

.m_img .slick-arrow.slick-next {
    right: 5px;
    background-image: url(../images/arrow01.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-color: transparent;
    text-indent: -9999px;
    display: block;
}

.m_img .slick-slide {}


.m_img .slick-dots {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.m_img .slick-dots li {
    display: inline-block;
    top: 0;
    left: 0;
    margin: 0 10px;
}

.m_img .slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background-color: #fffbfba4;
    text-indent: -9999px;
    box-shadow: 1px 1px 5px #312d2d;
}

.m_img .slick-dots li.slick-active button {
    background-color: #ff9393c5;
}


.m_img_txtBox {
    width: 250px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px 20px;
    text-shadow: 1px 1px 4px rgba(59, 46, 46, 0.849);
    color: #fffbfb;
}

.m_img_txtBox p {
    font-size: 10px;
    line-height: 1.2;
    margin-top: 10px;
}



/* <!-- 플라워 섹션 영역 --> */

.flower_section {
    width: 100%;
    position: relative;
    margin-top: 50px;
    background: linear-gradient(transparent 0%  , transparent 30% , #fff4f4 30.1% ,#fff4f4 80% ,  transparent 80.1%,transparent 100%  );

}

.flower_section > h1{
    /* position: absolute;
    top: -146px; left: 65%; */
    font-size: 1rem;
    width: 150px;
    padding: 10px;
    margin: 0 auto; 
    text-align: center;
    border-radius: 50%;
    background-color: #ffecec;
    box-shadow: 1px 1px 2px #ddd;
}


.f_imgBox{
    max-width: 1500px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin: 20px auto;
    height: 700px;
}
.f_imgBox > li{
    width: 160px;
    height: 180px;
    border-radius: 10%;
}

.f_imgBox > li:hover{box-shadow: 2px 2px 5px #aaa; cursor: pointer;
    text-shadow: 1px 1px 2px #ccc;
}

.f_imgBox > li:nth-child(1){margin-top: -50px;}
.f_imgBox > li:nth-child(2){}
.f_imgBox > li:nth-child(3){margin-top: -50px;}
.f_imgBox > li:nth-child(4){}

.f_img_txt{    
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
    margin-top: 220px;
}

.f_img_txt h2{
    font-size: 0.6rem;
    
}
.f_img_txt h3{
    font-size: 0.5rem;
    
}
.f_img_txt p{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
    font-size: 0.4rem;
    word-spacing: -1px;
}

.f_img_txt p a{font-size: 0.4rem; margin-top: 5px;}
.f_img_txt p a:hover{text-decoration: underline;}
.f_img_txt li{}





.f_img01 {
    background: url(../images/flower_main01.jpg) no-repeat center center;
    background-size: cover;
}


.f_img02 {
    background: url(../images/flower_main02.jpg) no-repeat center center;
    background-size: cover;
}


.f_img03 {
    background: url(../images/flower_main03.jpg) no-repeat center center;
    background-size: cover;
}


.f_img04 {
    background: url(../images/flower_main04.jpg) no-repeat center center;
    background-size: cover;
}



/* <!-- 베스트 플라워 섹션 영역 --> */

.best_flower {
    width: 100%;
    height: 250px;
    /* border: 1px solid red; */
    padding: 0 10px 0 10px;
}

.best_flower h1 {
    text-shadow: 1px 1px 2px #ccc;
    margin: 50px 15px 30px;
}

.bf_img_box {
    /* border: 1px solid red; */
    
}

.bf_img_list {
    display: flex;
    position: relative;
    justify-content: space-between;
    /* border: 1px solid black; */

}

.bf_img_list>li {
    width: 100px;
    height: 140px;
    /* border: 1px solid red; */
    transition: all 0.3s;

}

.bf_img_list>li>a {
    text-align: center;
    padding: 5px;
}

.bf_img_list>li>a>img {
    width: 100%;
    height: 100%;
}

.bf_img_list>li>a:hover {
    text-decoration: underline;
    color: #ff9393;
}

.bf_img_list > li > a > p {
    margin-top: 20px;
}


.bf_sub {
    width: 90% ;
    height:180px ;
    background-color: #fffbfb;
    border-radius: 15px;
    box-shadow: 0 2px 5px #ddd, 0 -2px 5px #eee;
    position: absolute;
    top: 150px ;
    left: 5% ;
    /* display: none; */
    z-index: 500;
    padding: 5px;
}

.bf_sub li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.bf_sub li a img {
    width: 120px;
    height: 120px;
    /* margin-left: 10px; */
    /* border: 1px solid red; */
}

.sub_txt {
    width: 250px;
    /* border: 1px solid red; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.sub_txt h3 {
    margin-bottom: 5px;
}

.sub_txt p {
    font-size: 12px;
    line-height: 1.2;
}

.sub_txt p span {
    margin-left: 10px;
    font-size: 11px;
}

.sub_txt p span:hover {
    text-decoration: underline;
    color: #ff9393;
}

/* .bf_img_box_bg {
    background-color: #eeeeeeb0;
    width: 100%;
    height: 100px;

} */



/* <!-- 플랜트 섹션 영역 --> */

.plant_section {
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
    /* border: 1px solid red; */
    background: linear-gradient(transparent 0%  , transparent 30% , #fdfff6 30.1% ,#fdfff6 80% ,  transparent 80.1%,transparent 100%  );
}

.plant_section > h1{
    font-size: 1rem;
    width: 150px;
    padding: 10px;
    margin: 0 auto; 
    text-align: center;
    border-radius: 50%;
    background-color: #fbfff1;
    box-shadow: 1px 1px 2px #ddd;
}


.p_imgBox{
    max-width: 1500px;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    /* border: 1px solid red; */
    margin: 20px auto;
    height: 700px;
}
.p_imgBox > li{
    width: 160px;
    height: 180px;
    border-radius: 10%;
}

.p_imgBox > li:hover{box-shadow: 2px 2px 5px #aaa; cursor: pointer;
    text-shadow: 1px 1px 1px #eee;
}

.p_imgBox > li:nth-child(1){margin-top: -50px;}
.p_imgBox > li:nth-child(2){}
.p_imgBox > li:nth-child(3){margin-top: -50px;}
.p_imgBox > li:nth-child(4){}

.p_img_txt{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    text-align: center;
    margin-top: 220px;
}

.p_img_txt h2{
    font-size: 0.6rem;
    
}
.p_img_txt h3{
    font-size: 0.5rem;
    
}
.p_img_txt p{
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
    font-size: 0.4rem;
    
}

.p_img_txt p a{font-size: 0.4rem; margin-top: 5px;}
.p_img_txt p a:hover{text-decoration: underline;}
.p_img_txt li{}





.p_img01 {
    background: url(../images/plant_main01.jpg) no-repeat center center;
    background-size: cover;
}


.p_img02 {
    background: url(../images/plant_main02.jpg) no-repeat center center;
    background-size: cover;
}


.p_img03 {
    background: url(../images/plant_main03.jpg) no-repeat center center;
    background-size: cover;
}


.p_img04 {
    background: url(../images/plant_main04.jpg) no-repeat center center;
    background-size: cover;
}


/* <!-- 베스트 식물 섹션 영역 --> */

.best_plant {
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    padding: 0 10px 0 10px;
    position: relative;
    margin-top: 50px;
}

.best_plant h1 {
    text-shadow: 1px 1px 2px #ccc;
    margin: 50px 15px 30px;
}

.bp_img_box {
    /* border: 1px solid red; */

}

.bp_img_list {
    display: flex;
    justify-content: space-between;

}

.bp_img_list>li {
    width: 100px;
    height: 140px;
    /* border: 1px solid red; */
    transition: all 0.3s;

}

.bp_img_list>li>a {
    text-align: center;
    padding: 5px;
}

.bp_img_list>li>a>img {
    width: 100%;
    height: 100%;
}

.bp_img_list>li>a:hover {
    text-decoration: underline;
    color: #ff9393;
}

.bp_img_list li a p {
    margin-top: 20px;
}


.bp_sub {
    width: 90%;
    height: 180px;
    margin-top: 20px;
    background-color: #fbfff1;
    border-radius: 15px;
    box-shadow: 0 1px 3px #ddd;
    position: absolute;
    top: 200px;
    left: 5%;
    display: none;
}

.bp_sub li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.bp_sub li a img {
    width: 150px;
    height: 140px;
    /* border: 1px solid red; */
}

.sub_txt {
    width: 100%;
    /* border: 1px solid red; */
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #333;
}

.sub_txt h3 {
    margin-bottom: 10px;
}

.sub_txt p {
    font-size: 14px;
    line-height: 1.2;
}

.sub_txt p span {
    margin-left: 10px;
    font-size: 11px;
}

.sub_txt p span:hover {
    text-decoration: underline;
    color: #ffd0d0;
}





/* 메뉴팝업 */

.menu_pop {
    width: 400px;
    height: 800px;
    background-color: #ffc8c8;
    border-radius: 0 50px 0 0;
    box-shadow: -1px 0 10px #aaa;
    padding: 10px 20px;
    position: absolute;
    top: 100px;
    left: -100%;
    z-index: 150;
    transition: all 0.3s ease-in-out;
}

.m_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}

.m_top h2 {
    font-size: 0.9rem;
}

.m_icon {
    width: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
}

.m_top a {}

.m_top a img {
    width: 6vw;
}

.menu_close {
    /* width: 20px; */
    height: 30px;
    margin: 5px 0 0;

}

.menu_closeBtn span {
    display: block;
    width: 26px;
    height: 5px;
    background-color: #ff9393;
    border-radius: 5px;
    margin: 2px auto;
    transition: all 0.3s ease-in-out;
}

.menu_closeBtn span:hover {
    cursor: pointer;
}


.menu_closeBtn span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu_closeBtn span:nth-child(2) {
    opacity: 0;
}

.menu_closeBtn span:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}


.menu_closeBtn:hover span {
    background-color: #A74343;
}

.m_icon {}

.m_icon a {
    width: 26px;
    height: 26px;
    background: url(../images/bucket.png) no-repeat center center / contain; 
    transition: all 0.3s;
}

.m_icon a:hover {background: url(../images/bucket2.png) no-repeat center center / contain;}

.search {
    height: 30px;
    border-radius: 20px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 2px #977676;
    margin-bottom: 50px;
}

.search input {
    display: block;
    border: none;
    width: 50vw;
    height: 20px;
    margin-right: 0px;
    text-align: right;
}


.search img {
    width: 0.7rem;
    cursor: pointer;
}



.nav {
    width: 100%;
    height: 100%;
}

.main {
    margin-top: 80px;
    width: 150px;
}

.main>li {
    margin-bottom: 30px;
}

.main>li>a {
    font-size: 0.7rem;
    color: #333;
    height: 50px;
    line-height: 50px;
}

.main>li>a:hover {
    color: #fff;
    text-decoration: underline;
}

.main>li>a>span {
    font-size: 0.4rem;
}

.sub_menu {
    margin-top: 20px;
    display: none;
}

.sub_menu li {
    margin-bottom: 15px;
}

.sub_menu li a {
    width: 100%;
    height: 30px;
    font-size: 0.7rem;
    line-height: 30px;
    /* background-color: #ffc8c8; */
}

.sub_menu li a:hover {
    text-decoration: underline;
    color: #fff;
}

.pop_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100vh;
    background-color: #46464686;
    transition: all 0.3s ease-in-out;
    z-index: 100;
    display: none;
}


/* footer 영역 */

.footer{
    width: 100%;
    height: 180px;
    background-color: #fcc2c2;
    margin-top: 100px;
}

.foot_up{
    color: #222;
}

.foot_up_inner{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    padding: 20px 0;
}

.foot_up_inner h2{
    font-size: 14px;
    margin-bottom: 5px;
}

.foot_up_inner span{
    display: inline-block;
}



.foot_down{
    height: 50px;
    background-color: #ffecec;
    color: #222;
    padding: 15px 0;
    text-align: center;
    font-size: 12px;
}


.full_nav{display: none;}