@charset "utf-8";

/* 웹폰트  CSS */

@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
/* CSS 초기화 */
*{margin: 0;padding: 0; box-sizing: border-box; }

html, body{
    font-family: 'Ownglyph_ryurue-Rg';
    font-size: 30px;
}
ul, li{list-style: none;}

a{text-decoration: none; color: inherit; display: block;}
img{vertical-align: top;}

hr{
    height: 2px;
    border: 0;
    display: block;
}
input, textarea{
    width: 100%;
    border: 0;
    border-bottom: 1px solid #777;
    color: #333;
    font-size: 12px;
}

::-moz-input-placeholder,::-webkit-input-placeholde{
color: #3f51b5;
}
::-moz-textarea-placeholder,::-webkit-textarea-placeholde{
color: #3f51b5;
}


