@charset "utf-8";


.s_section {
    width: 100%;
    height: 100vh;
    position: relative;
}

.s_img {
    width: 100%;
    height: 100%;
    background: url(../images/start_screem_img.jpg) no-repeat center bottom;
    background-size: 100vw 150vh;

}

.s_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.548);
    width: 70%;
    height: 60%;
    line-height: 60px;
}

.s_box_list {
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-shadow: 1px 2px 14px #eb7878, 1px 1px 1px black;
    margin-top: 20px;
}

.s_box_list h1{
    font-size: 3rem;
}

.s_box2{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.548);
    width: 100%;
    height: 100%;
    line-height: 60px;
    display: none;
}

.s_box2 h1{
    text-align: center;
    margin: 25% auto 0;
    color: white;
    text-shadow: 1px 2px 14px #eb7878, 1px 1px 1px black;
}






.home_btn{
    width: 200px;
    height: 50px;
    position: absolute;
    bottom:25%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    z-index: 100;
    transition: all 0.5s;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;

}
.home_btn a{
    
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 30px;
    /* border: 1px solid red */

}

.home_btn:hover a{
    color: white;
    background-color: #ff9393;
}